<a href="https://colab.research.google.com/github/Bharat-coder-pro/myWorkingCode/blob/main/just_started_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  print("""I am Bharat Yadav
and I have just started programing in python.
This is my first python program.""")

I am Bharat Yadav
and I have just started programing in python.
This is my first python program.

In [ ]:
#write a program to showcase a class and its object
class Vehicle:
  def __init__(self,name,s_no):
    self.name=name
    self.s_no=s_no
  def getDetails():
    name=input("enter name : ",ends="")
    s_no=int(input("enter no. ",ends=""))

v1=Vehicle("car",2)

print(v1.name)
print(v1.s_no)

car
2

In [ ]:
class Vehicle:
  
  def getDetails(self):
    self.name=input("enter name : ")
    self.s_no=int(input("enter no. "))
  def showDetails(self):
    print("vehicle name: ",self.name,"\n","car no_ : ",self.s_no)

v1=Vehicle()
v1.getDetails()
v1.showDetails()

enter name : Bharat Yadav
enter no. 2
vehicle name:  Bharat Yadav
 car no_ :  2

In [ ]:
l=int(input("enter length : "))
b=int(input("enter breadth : "))
a=l*b
p=2*(l+b);
print("area of rectangle having length ",l," cm and breadth ",b," cm is ",a," cm")
print("its parameter is ",p)

enter length : 2
enter breadth : 3
area of rectangle having length  2  cm and breadth  3  cm is  6  cm
its parameter is  10

In [ ]:
P=int(input("enter principle amount : "))
R=int(input("enter rate of interest : "))
t=int(input("enter time duration : "))
SI=(P*R*t)/100;
print("calculated Simple Interest : ",SI)

enter principle amount : 456
enter rate of interest : 45
enter time duration : 3
calculated Simple Interest :  615.6

In [ ]:
#swaping of two no. using third variable

a=int(input("enter a :- "))
b=int(input("enter b :- "))
c=0
c=a
a=b
b=c
print("after swappig \n a : ",a," & b : ",b)

enter first no. :- 2
enter second no. :- 3
after swappig
 a :  3  & b :  2

In [ ]:
#operators
a=5%10        #if first operaand is less than second then output will be second operand
a
a=10%5
a
a=10/5        # used for output as a float
a
a=10//5       # while give output as int
a

2

In [ ]:
# python program to  print last  digit of a number
a=(int(input("enter number : ")))
l=a%10
print("last digit of entered number is : ",l)

enter number : 30
last digit of entered number is :  0

In [ ]:
# a python proogrm to give uotput as decond last digit of a number
a=int(input("enter numb : "))
ls=(a%100)//10
print("last sec digit of nm is ",ls)

enter numb : 1457
last digit of nm is  5

In [ ]:
#python program to swap last two digit of any number
a=int(input("enter number : "))
c=0
l=a%10
ls=a%100//10
print("last digit and second last digit of the nummber is ",l," and ",ls)
c=l
l=ls
ls=c
print("after swapping digits : l=",l,"and ls : ",ls)

enter number : 45678
last digit and second last digit of the nummber is  8  and  7
after swapping digits : l= 7 and ls :  8

In [ ]:
# relational operators
a=int(input("enter first number : "))
b=int(input("enter second number : "))
c=a>b
d=a<b
e=a<b or b<a
f=a<b and b<a
g=not(a<b)
print("e f c d g",e,f,c,d,g )

enter first number : 5
enter second number : 6
e f c d g True False False True False

In [ ]:
# making a rogram which convert decimal no. to binary no.
n=int(input("enter number : "))
0

In [ ]:
a=23           # id() function gives out memory location of the variable
b=24
print("memory location of a: ",id(a),"\nmemory of laocation of b : ",id(b))

memory location of a:  11127392
memory of laocation of b :  11127424

In [ ]:
# identity  operator and membership operators is,is not,in,not in respectively
m=76
n=67
print(m is n ,"\n",m is not n)
name=str(input("your name : "))
print("Yadav" in name,"\n","abc" not in name)

False
 True
your name : Bharat Yadav
True
 True

In [ ]:
# even odd finder using ef-else statement .
a=int(input("enter a number : "))
if a%2==0 :
  print(a," is even.\n")
else :
  print(a," is odd.")

enter a number : 45
45  is odd.

In [ ]:
a=input("enter a alphabate : ")
if a==a or a==e or a==i or a==o or a==u :
  print(a," is vowel.")

else :
  print(a," is consonant.")

enter a alphabate : n
n  is vowel.

In [ ]:
# check wether the character is in upper case or lower case 
a=input("entr a character : ")
if a>='A' or a<=Z :
  print(a," is in upper-case.")
else :
  print(a," in lower-case.")

entr a character : 33

NameError: ignored

In [ ]:
l1=[23,"fjo",98,"lod",1,2,3]